@font-face {
  font-family: "New Amsterdam";
  src: url('../assets/fonts/New_Amsterdam/NewAmsterdam-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-ExtraLight.ttf') format('truetype');
  font-weight: 200; //Extra Light (200)
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-Light.ttf') format('truetype');
  font-weight: 300; //Light (300)
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-Regular.ttf') format('truetype');
  font-weight: 400; //Regular (400)
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-Medium.ttf') format('truetype');
  font-weight: 500; //Medium (500)
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-SemiBold.ttf') format('truetype');
  font-weight: 600; //Semi-Bold (600)
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-Bold.ttf') format('truetype');
  font-weight: 700; //Bold (700)
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-ExtraBold.ttf') format('truetype');
  font-weight: 800; //Extra Bold (800)
  font-style: normal;
}

@font-face {
  font-family: "Source Sans 3";
  src: url('../assets/fonts/Source_Sans_3/static/SourceSans3-Black.ttf') format('truetype');
  font-weight: 900; //Bllack (900)
  font-style: normal;
}