$primaryColor: #0c5c66;
$onPrimaryColor: #ebebeb;
$secondaryColor: #203d74;
$onSecondaryColor: #ebebeb;
$darkStorm: #131722;
$onDarkStorm: #ebebeb;
$oceanBlue: #1d2231;
$onOceanBlue: #ebebeb;

$stoneGray: #b1b1b1;

$successColor: #388e3c;
$onSuccessColor: #ebebeb;
$errorColor: #ba2626;
$onErrorColor: #ebebeb;

$backgroundColor: #183c70;

// typography
$fontColor: #ebebeb;
$fontFamily: "Source Sans 3", sans-serif;
$fontSizeBase: 16px;

// breakpoing size
$breakpointSM: 576px;
$breakpointMD: 768px;
$breakpointLG: 992px;
$breakpointXL: 1200px;
$breakpointXXL: 1400px;